.form__contact {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.contact_form {
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}
.contact_form__label {
  padding: 5px;
}
.contact_form__input {
  margin-bottom: 1em;
  padding: 8px 16px;
  resize: none;
  border: 1px solid black;
}

.contact_form__submit {
  background-color: #222;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  height: 40px;
}

@media (max-width: 480px) {
  .contact_form {
    width: 90%;
  }
  .form__contact h2 {
    font-size: 18px;
    color: black;
  }
  .form__subtitle {
    font-size: 12px;
    color: black;
  }
  .container__grid {
    grid-template-columns: repeat(1, 1fr);

    padding: 5px;
  }
  .grid__item {
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
 
  }
}
